/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #b1663c;
}
a {
    color: black;
}
.login-link-a {
    text-decoration: none;
}
.login-link-a:hover {
    color: #b1663c;
}
#projet-button {
    border: none;
    background-color: rgb(0 0 0 / 0%);
}
#login-button {
    border: none;
    background-color: rgb(0 0 0 / 0%);
}
/* form login */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
#login-form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.input__login {
    width: 379px;
    height: 51px;
    margin: 9px 0 34px 0;
    outline: none;
    background: #fff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    border: none;
}

.btn-login {
    width: 179px;
    height: 36px;
    border-radius: 60px;
    background: #1d6154;
    color: #fff;
    border: none;
    margin: 10px 0 40px 100px;
    cursor: pointer;
}

#forgot-password {
    margin-left: 120px;
}

#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

.modifierProfil {
    display: flex;
}

#portfolio h2 {
    text-align: center;
}

.boxTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.h2Projet {
    margin: 5rem 30px 0 0;
}

.svgElement {
    display: none;
    margin: 0 5px 0 0;
}
.buttonModifierGallerie {
    border: none;
    display: none;
    font-family: Work Sans;
    font-size: 14px;
    background-color: rgb(0 0 0 / 0%);
}

.filter {
    display: flex;
    gap: 15px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.filtersTous.active {
    color: #fff;
    background-color: #1d6154;
}
.filters {
    color: #1d6154;
    text-align: center;
    font-family: Syne;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 60px;
    border: 1px solid #1d6154;
    width: 100%;
    max-width: 100px;
    height: 37px;
    justify-content: center;
    align-items: center;
}
[id="1"] {
    color: #1d6154;
    width: 100%;
    max-width: 100px;
}
[id="1"].active {
    color: #fff;
    background-color: #1d6154;
}

[id="2"] {
    color: #1d6154;
    width: 100%;
    max-width: 157px;
}
[id="2"].active {
    color: #fff;
    background-color: #1d6154;
}

[id="3"] {
    color: #1d6154;
    width: 100%;
    max-width: 198px;
}
[id="3"].active {
    color: #fff;
    background-color: #1d6154;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}
#contact {
    width: 50%;
    margin: auto;
}
#contact > * {
    text-align: center;
}
#contact h2 {
    margin-bottom: 20px;
}
#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
    margin: 2em 0 1em 0;
}
#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

#modaleGallery {
    display: flex;
    position: fixed;
    top: 50px;
    width: 630px;
    height: 731px;
    border-radius: 10px;
    background-color: #fff;
    margin: 65px 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.svg {
    position: relative;
    width: 24px;
    height: 24px;
    left: 280px;
    bottom: 30px;
}

.h2 {
    color: #000;
    text-align: center;
    font-family: Work Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.galleryModale {
    margin-top: 40px;
    width: 420px;
    height: 420px;
    background: #fff;
    border-bottom: 1px solid #b3b3b3;
    overflow: hidden;
}
img.deleteIcon {
    width: 9px;
    height: 11px;
}
.deleteIcon {
    position: absolute;
    top: 6px;
    left: 61px;
    width: 9px;
    height: 11px;
}

.btnModale {
    display: flex;
    width: 237px;
    height: 36px;
    border-radius: 60px;
    background: #1d6154;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: none;
}

#link {
    width: 230px;

    color: #d65353;
    text-align: center;
    font-family: Syne;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

#categoryForm {
    display: none;
    position: fixed;
    top: 52px;
    width: 630px;
    height: 731px;
    border-radius: 10px;
    background-color: #fff;
    margin: 65px 250px;
    justify-content: center;
    z-index: 20;
    /* right: 396px; */
    align-items: center;
    flex-direction: column;
}
.categoryForm__img {
    width: 90%;
    display: flex;
    position: relative;
    justify-content: space-between;
    bottom: 45px;
}

.h2__ajoutPhoto {
    color: #000;
    text-align: center;
    font-family: Work Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.ajoutImg {
    width: 420px;
    display: flex;
    height: 169px;
    border-radius: 3px;
    background: #e8f1f6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.svg-img {
    margin-bottom: 15px;
}

.label__titre {
    padding-right: 380px;
    margin: 30px 0 10px 0;
    color: #3d3d3d;
}
.label__category {
    padding-right: 340px;
    bottom: 20px;
    margin: 10px 0 10px 0;
    color: #3d3d3d;
}
.AjoutePhoto {
    width: 173px;
    display: flex;
    height: 36px;
    border-radius: 50px;
    background: #cbd6dc;
    align-items: center;
    justify-content: center;
    color: #306685;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
}

#imagePreview {
    width: 129px;
    height: 193px;
}
.p__ajoutePhotos {
    color: #444;
    text-align: center;
    font-family: Work Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#titre,
#categorie {
    width: 420px;
    height: 51px;
    background: #fff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    border: none;
    color: #6c6c6c;
    margin-bottom: 20px;
    outline: none;
}
#categorie {
    margin-bottom: 50px;
}

.line {
    width: 420px;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 30px;
}
.btn-ajoutPhotos {
    width: 237px;
    height: 36px;
    border-radius: 60px;
    background: #a7a7a7;
    border: none;
    color: #fff;
}

.btn-vert {
    background-color: #1d6154;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}
